/* Estilo para el cuerpo del formulario */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilo para el formulario */
form {
    background: #fff;
    max-width: 360px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}