<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>
    <form action="/" method="">
        <label for="username">Usuario</label>
        <input type="text" placeholder="Ingrese su usuario" required name="txtnombre">
        <label for="contrasena">Contraseña</label>
        <input type="password" placeholder="Ingrese su nombre" required name="txtcontrasena">
        <label>Ingresar</label>
        <input type="submit">
    </form>
    
</body>
</html>