<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>
</head>
<body>
    <h1>REGISTRAR USUARIOS</h1>
    <form>
        <div class="formulario">
        <label>Nombre:</label>
        <input type="text" placeholder="Ingrese su nombre">
        <label>Apellido:</label>
        <input type="text" placeholder="Ingrese su apellido">
        <label>Correo:</label>
        <input type="text" placeholder="Ingrese su correo">
        <label>Dirección</label>
        <input type="text" placeholder="Ingrese su dirección">
        <label>Número:</label>
        <input type="int" placeholder="Ingrese su número">
        </div>
        <label>Contraseña:</label>
        <input type="password" placeholder="Ingrese su contraseña">
        <label>Confirmar</label>
        <input type="submit">


    </form>
</body>
</html>