<!DOCTYPE html>
<html lang="en">
<head>
    <div class="cab1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <h1>REGISTRAR USUARIOS</h1>
</div>
</head>
<body>
    
    <form method="POST" action="/Registrar">
        <div class="formulario">
        <label>Nombre:</label>
        <input type="text" placeholder="Ingrese su nombre" required name="nombre">
        <label>Apellido:</label>
        <input type="text" placeholder="Ingrese su apellido"requeried name="apellido">
        <label>Correo:</label>
        <input type="text" placeholder="Ingrese su correo" requeried name="correo">
        <label>Dirección</label>
        <input type="text" placeholder="Ingrese su dirección" required name=" direccion">
        <label>Número:</label>
        <input type="int" placeholder="Ingrese su número" requeried name="numero">
        <label>Nombre Usuario</label>
        <input type="text" placeholder="Ingrese su nombre de usuario" requeried name="usuario">
        <label>Contraseña:</label>
        <input type="password" placeholder="Ingrese su contraseña" requeried name="contrasena">
        <label>Confirmar</label>
        <input type="submit">
    </div>


    </form>
</body>
</html>